/* Navigation */
#navbar .socials{
  display: none;
}
#navbar .navbar{
  display: flex;
  flex-direction: column;
  grid-gap: 1.2rem;
}
#navbar ul{
  justify-self: center;

}
.showcase-content{
 margin-left: -4rem;
 line-height: 1.1;
}
.card1{
  grid-template-columns: repeat(2, 1fr);

}
.card1 > *:first-child,
.card1 > *:last-child{
  grid-template-columns: 1fr;
  grid-column: 1;
}
@media(max-width: 500px){
  .container{
    padding: 0 4rem;
    margin: 0;
  }
 #showcase .showcase-container {
    grid-template-columns: 1fr;
    align-items: center;
    justify-self: center;
    padding: 0 0;
    margin: 0;}
    
}
.card1{
  grid-template-columns: 1fr;
}
/* footer */
.last{
  grid-template-columns: 1fr;
  padding: 0 1rem;
}
.join{
  width: 90%;
}
.copy{
  margin-top: 1.5rem;
}
.last > *{
  border-bottom: 1px #e7e7e7 dotted;
  padding-bottom: 1rem;
}
.last > *:nth-child(4){
  border: none;
}
/* About */
.page-container{
  grid-template-columns: 1fr;
  margin-left: -1.5rem;
  text-align: center;
}
.side{
  margin-bottom: 1rem;
  width: 100%;
  margin-left: -.59rem;
}
.copy1{
  margin: auto;
}
/* Article */
.page-container h1{
  font-size: x-large;
}
.page-container{
  margin: auto;
  grid-template-columns: 1fr;
  text-align: center;
}
.meta{
  flex-direction: column;
}
.line{
  margin: auto;
  margin-bottom: .5rem;
  border-radius: 0px;
}
#categories > *{
  margin: .5rem;

}
#categories ul li  {
  margin-bottom: .8rem;
  border-bottom: 1px dotted #333;
}